.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.link {
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav button:hover {
  background: #ccc;
}

.middle {
  background-color: #333;
}

.middle .vertical-menu {
    margin-top: 40px;
    float: left;
    width: 250px;
}

.middle .vertical-menu a {
    background-color: #333;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.middle .vertical-menu a:hover {
    background-color: #ccc;
}

.middle .vertical-menu a.label {
	border: 1px solid #333;
    background-color: #999;
    color: black;
}

.middle .vertical-menu .block {
	border: 1px solid #333;
    background-color: #999;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.middle .vertical-menu service {
    float: right;
}

.middle .stream {
    float: left;
    margin-left: 200px;
    margin-top: 40px;
}

input { font:12px arial; }
  
a {
    color: white;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    float: right;
    margin:0 auto;
    margin-top: 40px;
    padding-bottom:25px;
    background:#333;
    color: white;
    width:504px;
}
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align: left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#999;
    height:270px;
    width:430px;
    overflow:auto; }
  
#usermsg {
    width:395px;
    background: #999;
}
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

.bottom .poll {
    margin-top: 600px;
